<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder
        location="Spring-properties.xml" />
    <bean id="answerDao" class="com.otus.hw01.dao.AnswerDaoSimple">

    </bean>

    <bean id="answer" class="com.otus.hw01.domain.Answer">

    </bean>
    <bean id="questionService" class="com.otus.hw01.service.QuestionServiceImpl">

    </bean>

    <bean id="readerCSVService" class="com.otus.hw01.service.ReaderCSVServiceImpl">

        <constructor-arg name = "dao" ref="ReaderCSVDao"/>

    </bean>
    <bean id="ReaderCSVDao" class="com.otus.hw01.dao.ReaderCSVDaoSimple">
        <property name="fileCSV" value="${fileCSV}" />
    </bean>

</beans>